<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AgenceVoyage</display-name>
	<absolute-ordering />
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.lip6.services</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.lip6.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddContactServlet</display-name>
		<servlet-name>AddContactServlet</servlet-name>
		<servlet-class>com.lip6.servlets.AddContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContactServlet</servlet-name>
		<url-pattern>/AddContactServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>FindContact</display-name>
		<servlet-name>FindContact</servlet-name>
		<servlet-class>com.lip6.servlets.FindContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindContact</servlet-name>
		<url-pattern>/FindContact</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyContactServlet</display-name>
		<servlet-name>ModifyContactServlet</servlet-name>
		<servlet-class>com.lip6.servlets.ModifyContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyContactServlet</servlet-name>
		<url-pattern>/ModifyContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteContactServlet</display-name>
		<servlet-name>DeleteContactServlet</servlet-name>
		<servlet-class>com.lip6.servlets.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteContactServlet</servlet-name>
		<url-pattern>/DeleteContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Reservation Servlet</description>
		<display-name>AddReservationServlet</display-name>
		<servlet-name>AddReservationServlet</servlet-name>
		<servlet-class>com.lip6.servlets.AddReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddReservationServlet</servlet-name>
		<url-pattern>/AddReservationServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value> org.springframework.web.context.support.AnnotationConfigWebApplicationContext </param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.lip6.configuration</param-value>
	</context-param>
</web-app>